<div data-item="{{item.key}}" class="CartItem">

  <div class="CartItem--Header">
    <span class="CartItemTitle">
      {{ item.title | split: " " | first }}
    </span>
    <span class="CartItemTitle">
      {{ item.product.type }}
    </span>
    <span>
      {% unless item.product.has_only_default_variant %}
        {{ item.variant.title }}
      {% endunless %}
    </span>
  </div>

  <div class="CartItem--Image" style="background-image: url({{item.product.featured_image | img_url: "200x"}});"></div>

  <div class="CartItem--footer">
    <div class="CartItem--remove">
      {% render 'remove-icon' %}
    </div>

    <div class="CartItem--qty">
      <div class="qty--wrapper">
        <div style="font-size: 1rem;" class="qty--button minus">-</div>
        <div
          style="font-size: 1rem;"
          class="qty--text"
          data-value="{{item.quantity}}">{{ item.quantity }}</div>
        <div style="font-size: 1rem;" class="qty--button plus">+</div>
      </div>
    </div>

    <div class="CartItem--price">{{ item.price | money | remove: '.00' }}</div>

  </div>


</div>