<form class="filter-form" id="storeFrontFilters">

  <div class="filter-group-collection">
    <ul>
      {% for link in linklists.collection-links.links %}
        <li class="item-filter_title">
          <a
            href="{{ link.url }}"
            {% if link.active %}
            aria-current="true"
            {% endif %}>
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  {%- for filter in collection.filters -%}
    <div class="details">
      {% assign label = filter.label %}
      {% case label %}
        {% when "Size" %}
        <div class="filter-group">
          <span class="filter-label">{{ filter.label }}</span>
          <span class="line"></span>
          <p>
            {%- if filter.active_values.size > 0 -%}
              {%- for filter_value in filter.active_values limit: 3 -%}
                {% if forloop.index == 3 and filter.active_values.size > 3 %}
                  <span class="filter-value">{{ filter_value.label }}...</span>
                {% else %}
                  <span class="filter-value">{{ filter_value.label }}</span>
                  /
                {% endif %}
              {%- endfor -%}
            {% else %}
              <span class="filter-value">all</span>
            {% endif %}
          </p>
        </div>
        <div class="group-transition">
          <ul class="filter-group-display__list list-size">
            {%- for filter_value in filter.values -%}
              <li class="filter-group-display__list-item">
                <input
                  class="checkbox-size remove"
                  class="inputbox"
                  type="checkbox"
                  name="{{ filter_value.param_name }}"
                  value="{{ filter_value.value }}"
                  id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                  {% if filter_value.active -%}checked{%- endif %}
                  {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>
                <label class="label-size" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  {{ filter_value.label }}</label>
              </li>
            {%- endfor -%}
          </ul>
        </div>


        {% when "Color" %}
        <summary class="filter-group">

          <span class="filter-label">{{ filter.label }}</span>
          <span class="line"></span>
          <p>
            {%- if filter.active_values.size > 0 -%}
              {%- for filter_value in filter.active_values limit: 2 -%}
                {% if forloop.index == 2 and filter.active_values.size > 2 %}
                  <span class="filter-value">{{ filter_value.label }}...</span>
                {% else %}
                  <span class="filter-value">{{ filter_value.label }}</span>
                  /
                {% endif %}
              {%- endfor -%}
            {% else %}
              <span class="filter-value">all</span>
            {% endif %}
          </p>
        </summary>
        <div class="group-transition">
          <ul class="filter-group-display__list list-color">
            {%- for filter_value in filter.values -%}
              <li class="filter-group-display__list-item">
                <input
                  class="checkbox-color remove"
                  type="checkbox"
                  name="{{ filter_value.param_name }}"
                  value="{{ filter_value.value }}"
                  id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                  {% if filter_value.active -%}checked{%- endif %}
                  {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>

                <label class="label-color" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  {{ filter_value.label }}</label>
              </li>

            {%- endfor -%}
          </ul>
        </div>
      {% endcase %}

    </div>

  {% endfor %}
  <div class="clear">
    <a
      href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
      {% if filter.active_values.size > 0 %}
      class="filter-group-reset"
      {% else %}
      class="filter-group-inactive"
      {% endif %}
      ">CLEAR</a>
  </div>
    <div class="toggleViewBtn"> <p class="toggle_label grid">GRID</p>
    <div class="slider-ui">
      <div id="toggle" class="pill-tiny"></div>
      <div class="line"></div>
    </div>
    <p class="toggle_label shuffle">SHUFFLE</p>
  </div>
</form>
