{{ 'product.css' | asset_url | stylesheet_tag }}

  <div data-section-type="Product" class="SectionContainer ProductContainer">
  <div data-meta class="ProductMeta--Container">
    <div class="ProductMeta">
      <div class="ProductTitle">
        {{ product.title }}</div>
      <div class="MetaItem ProductDescription">
        {{ product.description }}
      </div>

      <div class="Collapsible">
        <div class="pill-tiny read"></div>
        <div
          onclick="Theme.helpers.openDesc();"
          data-readmore-desc
          class="Collapsible--label">Read More</div>
      </div>

      <div class="MetaItem" data-shipping-container>
        <p class="shipping-wrapper">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
      </div>

      <div class="Collapsible">
        <div class="pill-tiny"></div>
        <div onclick="Theme.helpers.openShipping();" class="Collapsible--label">SHIPPING INFO</div>
      </div>

      <div class="MetaItem" data-sizing-container>
        <div class="sizing-wrapper">
          <div class="size-grid">
            <span class="size-label">EU</span>
            <span>37</span>
            <span>38</span>
            <span>39</span>
            <span>40</span>
            <span>41</span>
            <span>42</span>
            <span>43</span>
            <span>44</span>
            <span>45</span>
            <span>46</span>
            <span>47</span>
            <span>48</span>
            <span>49</span>
            <span class="size-label">US MEN</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span>12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span class="size-label">US WOMEN</span>
            <span>5.5</span>
            <span>6.5</span>
            <span>7.5</span>
            <span>8.5</span>
            <span>9.5</span>
            <span>10.5</span>
            <span>11.5</span>
            <span>12.5</span>
            <span>13.5</span>
            <span>14.5</span>
            <span>15.5</span>
            <span>16.5</span>
            <span>17.5</span>
            <span class="size-label">CM</span>
            <span>23.5</span>
            <span>24</span>
            <span>25</span>
            <span>26</span>
            <span>27</span>
            <span>27.5</span>
            <span>28.5</span>
            <span>29.5</span>
            <span>30.5</span>
            <span>31</span>
            <span>32</span>
            <span>33</span>
            <span>33.5</span>
          </div>

        </div>
      </div>

      <div class="Collapsible">
        <div class="pill-tiny size"></div>
        <div
          data-readmore-sizing
          onclick="Theme.helpers.openSizing();"
          class="Collapsible--label">SIZING HELP</div>
      </div>

    </div>
  </div>

  <style>
    .imgPointerContainer {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .pointerText {
      text-transform: uppercase;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .Product--Image {
      position: relative;
    }

    .imgLine {
      height: 10%;
      position: absolute;
      border-right: 1px solid black;
    }
  </style>

  <div class="ProductMedia--Container">
    <div data-media class="ProductMedia">
      <div class="ProductMedia--Counter">
        {% for media in product.media %}
          {% case media.media_type %}
            {% when 'image' %}
            <div class="Product--Image--Anchor {%if forloop.index == 1%}active{%endif%}"></div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>

    <div class="ProductMedia">

      {% for media in product.media %}
        {% case media.media_type %}
          {% when 'image' %}
          <div class="Product--Image">

            {% if media.alt contains '$' %}
              {% assign position = media.alt | split: '$' | first %}
              {% assign position_x = position | split: '-' | first %}
              {% assign position_split = position | split: '-' %}
              {% assign position_y = position_split[1] %}
              {% assign position_text = position_split | last %}


              {% assign imgpointer = '<div class="imgPointerContainer"><div class="pointerText" style="left:_left_%; top: _top_%">[text]</div> <div class="imgLine" style="left:_left_%; top: _top_%"></div> </div>' %}
              {{ imgpointer | replace: "_left_", position_x | replace: "_top_", position_y | replace: '[text]', position_text }}

            {% else %}
              {% assign imgpointer = '' %}
            {% endif %}

            <img class="Product--Image--Child" src="{{ media | img_url: "1000x" }}">

          </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  <div data-variant-container class="ProductVariant--Container">
    <div class="ProductVariant">
      {% form 'product', product %}
        {% for options in product.options_with_values %}
          {% assign optionrow = forloop.index %}
          <div class="optionsNameContainer">
            <span>
              SELECT A {{ options.name | upcase }}</span>
          </div>
          <div class="optionValuesContainer">
            {% for value in options.values %}
              <input
                name="{{option | append: "--" | append: optionrow}}"
                id="{{product.id | append: "--" | append: optionrow | append: "--" | append: forloop.index }}"
                style="display:none"
                {% if forloop.first %}checked="checked"{% endif %}
                type="radio"
                value="{{value}}"
                data-option="{{optionrow}}">
              <label for="{{product.id | append: "--" | append: optionrow | append: "--" | append: forloop.index }}" class="optionValue">{{ value }}</label>
            {% endfor %}
          </div>
        {% endfor %}
        <div class="productQty">
          <span style="text-transform:uppercase">Add Quantity</span>
          <div class="qty">
            {% render 'qty', product: product %}
          </div>
        </div>
      {% endform %}
      <textarea
        data-variant-json
        class="hide"
        aria-hidden="true"
        aria-label="Product JSON">
        {{ product.variants | json }}
      </textarea>
      {%- if product.options.size > 1 -%}
        <textarea
          data-current-variant-json
          class="hide"
          aria-hidden="true"
          aria-label="Variant JSON">
          {{ current_variant | json }}
        </textarea>
      {%- endif -%}
    </div>
  </div>
  <div data-sticky class="stickyATC">
    <span data-variant-price class="ProductPrice">{{ product.selected_or_first_available_variant.price | money | remove: '.00' }}
    </span>
    <div class="pill-tiny vert"></div>
    <span>ADD TO BAG</span>
    {% comment %} <div class="stickySpacer hide--desktop"></div> {% endcomment %}
  </div>


  <!--/* Mobile Components */-->


  <div data-mobile-slider class="Mobile--ProductSlider hide--desktop">
    {% for media in product.media %}
      {% case media.media_type %}
        {% when 'image' %}
        <div class="Mobile--ProductImage"><img class="Product--Image--Child" src="{{ media | img_url: "1000x" }}"></div>
      {% endcase %}
    {% endfor %}

  </div>



</div>