{% assign random_number = "now" | date: "%N" | modulo: product.images.size | plus: 0 %}

<div class="product-card stacked">
  <a href="{{ product.url }}" class="card-link">
    <div style="background-image: url({{ product.featured_image | img_url: 'master' }});" class="card-img"></div>
    <div style="background-image: url({{ product.images[random_number].src | img_url: 'master' }});" class="card-img remove"></div>
  </a>
  <div class="card-content">
    <p class="product-title">{{ product.title }}</p>
    <p class="product-type">{{ product.type }}</p>
    <button class="product-buynow">
      <div class="pill-tiny"></div>
      <a class="link-text" class="">ADD TO BAG</a>
    </button>
    <p class="product-price">{{ product.price | money }}</p>
  </div>
</div>