<div class="product-card stacked">
          <a href="{{ product.url }}" class="card-img"><img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}"></a>
          <div class="card-content">
            <p class="product-title">{{ product.title }}</p>
            <p class="product-type">{{ product.type }}</p>
            <button class="product-buynow">
              <span class="pill-icon">
                <svg
                  viewBox="0 0 15 33"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"><rect
                    x="0.5"
                    y="0.5"
                    width="14"
                    height="28"
                    rx="7"
                    stroke="#000" />
                </svg>
              </span>
              <a class="product-buynow">ADD TO BAG</a>
            </button>
            <p class="product-price">{{ product.price | money }}</p>
          </div>
        </div>