{% assign random_number = "now" | date: "%N" | modulo: product.images.size | plus: 0 %}

<div data-ajax-card class="product-card stacked">

  <div
    class="card-content
    {% if product.metafields.custom.product_card_color_inverse.value == true %}
      inverse
    {% endif %}">
    <a href="{{ product.url }}" class="card--header">
      <p class="product-title">
         {% if template contains 'suba' %}
            {% assign title = product.title | split: ' ' %}
            {{ title[1] }}
        {% else %}    
           {{ product.title }}
         {% endif %}
      </p>
      <p class="product-type">{{ product.type }}</p>
    </a>
    <a style="flex-grow:1;width:100%; opacity:0;" href="{{ product.url }}"></a>
    <div class="card--footer ">
      {% if product.available %}
         <button class="product-buynow">
            <div class="pill-tiny"></div>
            <div data-ajax-open="{{ product.selected_or_first_available_variant.id }}" class="link-text">SHOP NOW</div>
         </button>
      {% else %}
         <p>Sold Out</p>  
      {% endif %}
      <p class="product-price">
         {% if product.compare_at_price > 0 %}
            <span class="saleprice">  {{ product.price | money | remove: '.00' }} </span>
            <span class="offer">{{ product.compare_at_price | money | remove: '.00' }} </span>
            {% else %}
            {{ product.price | money | remove: '.00' }}    
         {% endif %}

      </p>
    </div>
  </div>
  <a href="{{ product.url }}" class="card-link">
    <div style="background-image: url({{ product.featured_image | img_url: 'master' }});" class="card-img"></div>
    <div style="background-image: url({{ product.images[random_number].src | img_url: 'master' }});" class="card-img remove"></div>
  </a>
  <div data-variant-popup class="VariantSelectors--Ajax">
    <div class="CartItem--remove">
      {% render 'remove-icon' %}
    </div>
    {% for options in product.options_with_values %}
      {% assign optionrow = forloop.index %}
      {% assign downcased_option = options.name | downcase %}
      <div class="optionValuesContainer">
        <div class="CardValues {% if downcased_option == 'color' %}ColorValues{% endif %}">
          {% for value in options.values %}
            <input
              name="{{ option | append: "--" | append: optionrow }}"
              id="{{ product.id | append: "--" | append: optionrow | append: "--" | append: forloop.index }}"
              style="display:none"
              {% if forloop.first %}checked="checked"{% endif %}
              type="radio"
              value="{{value}}"
              data-option="{{ optionrow }}">
            <label for="{{ product.id | append: "--" | append: optionrow | append: "--" | append: forloop.index }}" class="optionValue">{{ value }}</label>
          {% endfor %}
          
        </div>
        <div class="optionsNameContainer">
          {{ options.name }}
          <div class="line"></div>
        </div>
      </div>
    {% endfor %}
    <div class="productQty">
      <button class="product-buynow">
        <div class="pill-tiny"></div>
        <span class="link-text" data-ajax-add="{{ product.selected_or_first_available_variant.id }}">
         Add to CART
         </span>
      </button>
      <div class="qty"></div>
    </div>
    <textarea
      data-variant-json
      class="hide"
      aria-hidden="true"
      aria-label="Product JSON">
      {{ product.variants | json }}
    </textarea>
    {%- if product.options.size > 1 -%}
      <textarea
        data-current-variant-json
        class="hide"
        aria-hidden="true"
        aria-label="Variant JSON">
        {{ current_variant | json }}
      </textarea>
    {%- endif -%}

  </div>
</div>