{% for product in cart.items limit: 1 %}
  <div class="ajax-card">
    <div class="preview-img"><img src="{{ product.image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}">
    </div>
    <div class="card-content">
      <div class="card--header">
        <p class="product-title">{{ product.title }}</p>
        <p class="product-type">{{ product.type }}</p>
      </div>
      <div class="card--footer">
        <p class="product-type">{{ product.quantity }}X</p>
        <p class="product-price">{{ product.price | money }}</p>
      </div>
    </div>
  </div>
{% endfor %}

{% schema %}
  {"name": "ajaxcard"}
{% endschema %}