{{ 'contact-form.css' | asset_url | stylesheet_tag }}


<div class="form-wrapper">
  <h1 class="page-title">{{ section.settings.section-title }}</h1>
  {% form 'contact', class: 'form' %}
    <div class="first-name field">
      {% comment %} <label for="first-name">{{ section.settings.firstname }}</label>
      <div class="line"></div> {% endcomment %}
      <input
        id="first-name"
        name="contact[first_name]"
        type="text"
        role="textbox"
        placeholder="{{ section.settings.firstname }}"></input>
    </div>
    <div class="last-name field">
      {% comment %} <label for="last-name">{{ section.settings.lastname }}</label>
      <div class="line"></div> {% endcomment %}
      <input
        id="last-name"
        name="contact[last_name]"
        type="text"
        role="textbox"
        placeholder="{{ section.settings.lastname }}"></input>
    </div>
    <div class="email field">
      {% comment %} <label for="email">{{ section.settings.email }}</label>
      <div class="line"></div> {% endcomment %}
      <input
        id="email"
        name="contact[email]"
        type="email"
        role="textbox"
        placeholder="{{ section.settings.email }}"></input>
    </div>
    <div class="message field">
      {% comment %} <label for="message">{{ section.settings.message }}</label>
      <div class="line"></div> {% endcomment %}
      <input
        id="message"
        name="contact[body]"
        type="textarea"
        role="textbox"
        placeholder="{{ section.settings.message }}"></input>
    </div>
    <div class="submit">
      <div class="pill-tiny"></div>
      <input type="submit" value="Send" />
    </div>

    {% if form.errors %}
      <div class="error">
        <p>There's been an error in submitting message.</p>
      <ul>
        {% for error in form.errors %}
          <li>
            {% if error == 'form' %}
              {{ form.errors.messages[error] }}
            {% else %}
              {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      </div>
    {% elsif form.posted_successfully? %}
      <div class="success">
        <p>Message was submitted successfully</p>
      </div>
    {% endif %}
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "presets": [
      {
        "name": "Contact Form"
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "section-title",
        "label": "Title",
        "default": "Reach Out To Us"
      },
      {
        "type": "text",
        "id": "firstname",
        "label": "Label",
        "default": "First Name"
      },
      {
        "type": "text",
        "id": "lastname",
        "label": "Label",
        "default": "Last Name"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email",
        "default": "Email"
      }, {
        "type": "text",
        "id": "message",
        "label": "Message",
        "default": "Message"
      }
    ]
  }
{% endschema %}