<div class="MainMenu Fixed">
<div class="MainMenu--Wrapper targetColor">
<div class="MainMenu--left">
  <div class="targetColor MainMenu--leftItem shop">
    <a class="targetColor" href="/collections/all">Shop</a>
  </div>
  <div class="targetColor MainMenu--leftItem">
    <a class="targetColor" href="/pages/about">About</a>
  </div>
</div>

<div class="MainMenu--center">
   {% if template.name == 'product' %}
   <a href="/" id="DesktopLogoPlaceholder" class="LogoPlaceholder">
   <svg viewBox="0 0 373 76" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M171.154 65.0949L171.153 65.0936C155.878 51.8387 154.124 28.6417 167.279 13.2517C173.637 5.81462 182.477 1.32466 192.196 0.58793C201.918 -0.0744381 211.343 3.01832 218.723 9.42328C226.103 15.8287 230.562 24.7366 231.367 34.5338C232.024 44.332 228.954 53.8294 222.596 61.2653C216.238 68.7028 207.397 73.1929 197.678 73.9292L197.677 73.9292C196.736 74.0022 195.866 74.0024 194.901 74.0024C186.205 74.0024 177.803 70.9106 171.154 65.0949ZM218.146 32.6847L218.146 32.6847L218.151 32.6792C220.607 30.1272 221.996 26.7932 221.921 23.2212C221.919 19.6583 220.534 16.3244 218.072 13.8434C215.53 11.2826 212.142 9.96377 208.753 9.96377C205.365 9.96377 201.977 11.2826 199.435 13.8434L199.434 13.8443L171.732 41.9043C171.732 41.9049 171.731 41.9055 171.73 41.9061C166.571 47.0289 166.575 55.4785 171.728 60.6722C176.815 65.8737 185.209 65.8694 190.366 60.6736L218.146 32.6847Z"/>
   <path d="M312.2 65.0949L312.198 65.0936C296.923 51.8387 295.169 28.6417 308.324 13.2517C314.683 5.81462 323.522 1.32466 333.241 0.58793C342.963 -0.0744381 352.388 3.01832 359.768 9.42328C367.149 15.8287 371.607 24.7366 372.413 34.5338C373.07 44.332 369.999 53.8294 363.642 61.2653C357.283 68.7028 348.443 73.1929 338.723 73.9292L338.722 73.9292C337.782 74.0022 336.912 74.0024 335.946 74.0024C327.25 74.0024 318.849 70.9106 312.2 65.0949ZM359.191 32.6847L359.191 32.6847L359.197 32.6792C361.653 30.1268 363.04 26.7945 363.04 23.3013C363.04 19.7364 361.655 16.4003 359.191 13.918C356.65 11.3573 353.261 10.0384 349.873 10.0384C346.485 10.0384 343.096 11.3573 340.554 13.918L312.778 41.9043C312.777 41.9047 312.777 41.9051 312.776 41.9055C307.616 47.0283 307.62 55.4783 312.774 60.6722C317.861 65.8737 326.255 65.8694 331.412 60.6736L359.191 32.6847Z"/>
   <path d="M137.929 7.87726L137.929 7.87774C152.68 18.9873 156.199 38.7091 147.129 54.8503C145.959 56.9128 144.569 58.9034 143.032 60.7476L143.023 60.7582L143.014 60.7692C142.928 60.8853 142.824 60.9914 142.69 61.1261L142.681 61.1352C142.557 61.2601 142.406 61.4122 142.274 61.5902L142.017 61.9355L142.32 62.241L150.617 70.6004L150.622 70.6061L150.628 70.6116C151.598 71.5277 151.615 73.1444 150.617 74.1502L150.611 74.1559L150.606 74.1618C149.698 75.1369 148.1 75.154 147.104 74.1502L138.659 65.6416L138.343 65.323L137.992 65.6031C124.238 76.5864 105.617 77.0139 92.1841 65.3918L92.1838 65.3915C89.6295 63.1856 87.3625 60.5344 85.4587 57.6571L84.5417 56.2713V57.933V72.1887C84.5417 73.6248 83.3625 74.7488 82.0045 74.7488C80.5882 74.7488 79.4673 73.5661 79.4673 72.1887V70.6213V39.2737V37.6387C79.7618 27.1514 83.0561 18.7664 89.4061 12.0007C102.196 -1.54805 123.022 -3.38712 137.929 7.87726ZM92.6873 41.9816L92.6873 41.9816L92.6819 41.9871C90.2243 44.5406 88.8383 47.8733 88.8383 51.4396C88.8383 54.9992 90.1459 58.3369 92.6873 60.8975C97.8461 66.0953 106.239 66.0953 111.398 60.8975L139.326 32.7593C144.482 27.5637 144.482 19.1137 139.326 13.9181L139.326 13.9181L139.32 13.9128C136.708 11.358 133.323 10.0385 129.933 10.0385C126.551 10.0385 123.16 11.279 120.541 13.9181L92.6873 41.9816Z"/>
   <path d="M9.34256 13.3274L9.34354 13.3263C15.7022 5.88871 24.5427 1.39864 34.262 0.662354C43.9822 -0.0739946 53.4065 3.0178 60.7871 9.42321C75.9888 22.6786 77.741 45.8744 64.5144 61.1886L64.5127 61.1906C51.3583 76.5795 28.2693 78.3444 13.0724 65.0964C10.5142 62.8131 8.2463 60.1599 6.34326 57.2838L5.42628 55.8979V57.5597V72.1886C5.42628 73.558 4.31319 74.674 2.96314 74.674C1.61309 74.674 0.5 73.558 0.5 72.1886V65.9937V37.4077V37.2584C0.5 28.4951 3.64321 19.9532 9.34256 13.3274ZM32.4309 60.6735L60.2103 32.6846C65.3651 27.4909 65.3694 19.0399 60.2091 13.9167C57.6676 11.3568 54.2796 10.0383 50.8919 10.0383C47.5038 10.0383 44.1152 11.3572 41.5736 13.918L13.7968 41.9042C13.7963 41.9046 13.7959 41.9051 13.7955 41.9055C8.63545 47.0282 8.63926 55.4783 13.7928 60.6722C18.8797 65.8736 27.274 65.8693 32.4309 60.6735Z"/>
   <path d="M262.146 26.9588V26.4588H261.646H243.867C236.961 26.4588 231.329 20.7899 231.329 13.8226C231.329 6.85545 236.961 1.18652 243.867 1.18652H286.388C293.294 1.18652 298.926 6.85545 298.926 13.8226C298.926 20.7899 293.294 26.4588 286.388 26.4588H268.165H267.665V26.9588V71.9649C267.665 73.4836 266.403 74.749 264.905 74.749C263.407 74.749 262.146 73.4836 262.146 71.9649V26.9588Z"/>
   </svg>
   </a>
   {% else %}


   <svg id="DesktopLogo" class="Logo targetColor" viewBox="0 0 373 76" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M171.154 65.0949L171.153 65.0936C155.878 51.8387 154.124 28.6417 167.279 13.2517C173.637 5.81462 182.477 1.32466 192.196 0.58793C201.918 -0.0744381 211.343 3.01832 218.723 9.42328C226.103 15.8287 230.562 24.7366 231.367 34.5338C232.024 44.332 228.954 53.8294 222.596 61.2653C216.238 68.7028 207.397 73.1929 197.678 73.9292L197.677 73.9292C196.736 74.0022 195.866 74.0024 194.901 74.0024C186.205 74.0024 177.803 70.9106 171.154 65.0949ZM218.146 32.6847L218.146 32.6847L218.151 32.6792C220.607 30.1272 221.996 26.7932 221.921 23.2212C221.919 19.6583 220.534 16.3244 218.072 13.8434C215.53 11.2826 212.142 9.96377 208.753 9.96377C205.365 9.96377 201.977 11.2826 199.435 13.8434L199.434 13.8443L171.732 41.9043C171.732 41.9049 171.731 41.9055 171.73 41.9061C166.571 47.0289 166.575 55.4785 171.728 60.6722C176.815 65.8737 185.209 65.8694 190.366 60.6736L218.146 32.6847Z"/>
   <path d="M312.2 65.0949L312.198 65.0936C296.923 51.8387 295.169 28.6417 308.324 13.2517C314.683 5.81462 323.522 1.32466 333.241 0.58793C342.963 -0.0744381 352.388 3.01832 359.768 9.42328C367.149 15.8287 371.607 24.7366 372.413 34.5338C373.07 44.332 369.999 53.8294 363.642 61.2653C357.283 68.7028 348.443 73.1929 338.723 73.9292L338.722 73.9292C337.782 74.0022 336.912 74.0024 335.946 74.0024C327.25 74.0024 318.849 70.9106 312.2 65.0949ZM359.191 32.6847L359.191 32.6847L359.197 32.6792C361.653 30.1268 363.04 26.7945 363.04 23.3013C363.04 19.7364 361.655 16.4003 359.191 13.918C356.65 11.3573 353.261 10.0384 349.873 10.0384C346.485 10.0384 343.096 11.3573 340.554 13.918L312.778 41.9043C312.777 41.9047 312.777 41.9051 312.776 41.9055C307.616 47.0283 307.62 55.4783 312.774 60.6722C317.861 65.8737 326.255 65.8694 331.412 60.6736L359.191 32.6847Z"/>
   <path d="M137.929 7.87726L137.929 7.87774C152.68 18.9873 156.199 38.7091 147.129 54.8503C145.959 56.9128 144.569 58.9034 143.032 60.7476L143.023 60.7582L143.014 60.7692C142.928 60.8853 142.824 60.9914 142.69 61.1261L142.681 61.1352C142.557 61.2601 142.406 61.4122 142.274 61.5902L142.017 61.9355L142.32 62.241L150.617 70.6004L150.622 70.6061L150.628 70.6116C151.598 71.5277 151.615 73.1444 150.617 74.1502L150.611 74.1559L150.606 74.1618C149.698 75.1369 148.1 75.154 147.104 74.1502L138.659 65.6416L138.343 65.323L137.992 65.6031C124.238 76.5864 105.617 77.0139 92.1841 65.3918L92.1838 65.3915C89.6295 63.1856 87.3625 60.5344 85.4587 57.6571L84.5417 56.2713V57.933V72.1887C84.5417 73.6248 83.3625 74.7488 82.0045 74.7488C80.5882 74.7488 79.4673 73.5661 79.4673 72.1887V70.6213V39.2737V37.6387C79.7618 27.1514 83.0561 18.7664 89.4061 12.0007C102.196 -1.54805 123.022 -3.38712 137.929 7.87726ZM92.6873 41.9816L92.6873 41.9816L92.6819 41.9871C90.2243 44.5406 88.8383 47.8733 88.8383 51.4396C88.8383 54.9992 90.1459 58.3369 92.6873 60.8975C97.8461 66.0953 106.239 66.0953 111.398 60.8975L139.326 32.7593C144.482 27.5637 144.482 19.1137 139.326 13.9181L139.326 13.9181L139.32 13.9128C136.708 11.358 133.323 10.0385 129.933 10.0385C126.551 10.0385 123.16 11.279 120.541 13.9181L92.6873 41.9816Z"/>
   <path d="M9.34256 13.3274L9.34354 13.3263C15.7022 5.88871 24.5427 1.39864 34.262 0.662354C43.9822 -0.0739946 53.4065 3.0178 60.7871 9.42321C75.9888 22.6786 77.741 45.8744 64.5144 61.1886L64.5127 61.1906C51.3583 76.5795 28.2693 78.3444 13.0724 65.0964C10.5142 62.8131 8.2463 60.1599 6.34326 57.2838L5.42628 55.8979V57.5597V72.1886C5.42628 73.558 4.31319 74.674 2.96314 74.674C1.61309 74.674 0.5 73.558 0.5 72.1886V65.9937V37.4077V37.2584C0.5 28.4951 3.64321 19.9532 9.34256 13.3274ZM32.4309 60.6735L60.2103 32.6846C65.3651 27.4909 65.3694 19.0399 60.2091 13.9167C57.6676 11.3568 54.2796 10.0383 50.8919 10.0383C47.5038 10.0383 44.1152 11.3572 41.5736 13.918L13.7968 41.9042C13.7963 41.9046 13.7959 41.9051 13.7955 41.9055C8.63545 47.0282 8.63926 55.4783 13.7928 60.6722C18.8797 65.8736 27.274 65.8693 32.4309 60.6735Z"/>
   <path d="M262.146 26.9588V26.4588H261.646H243.867C236.961 26.4588 231.329 20.7899 231.329 13.8226C231.329 6.85545 236.961 1.18652 243.867 1.18652H286.388C293.294 1.18652 298.926 6.85545 298.926 13.8226C298.926 20.7899 293.294 26.4588 286.388 26.4588H268.165H267.665V26.9588V71.9649C267.665 73.4836 266.403 74.749 264.905 74.749C263.407 74.749 262.146 73.4836 262.146 71.9649V26.9588Z"/>
   </svg>
   <a href="/" id="DesktopLogoPlaceholder" class="LogoPlaceholder hidden">
   <svg class="LogoSVG targetColor" viewBox="0 0 373 76" fill="none" xmlns="http://www.w3.org/2000/svg">
   <path d="M171.154 65.0949L171.153 65.0936C155.878 51.8387 154.124 28.6417 167.279 13.2517C173.637 5.81462 182.477 1.32466 192.196 0.58793C201.918 -0.0744381 211.343 3.01832 218.723 9.42328C226.103 15.8287 230.562 24.7366 231.367 34.5338C232.024 44.332 228.954 53.8294 222.596 61.2653C216.238 68.7028 207.397 73.1929 197.678 73.9292L197.677 73.9292C196.736 74.0022 195.866 74.0024 194.901 74.0024C186.205 74.0024 177.803 70.9106 171.154 65.0949ZM218.146 32.6847L218.146 32.6847L218.151 32.6792C220.607 30.1272 221.996 26.7932 221.921 23.2212C221.919 19.6583 220.534 16.3244 218.072 13.8434C215.53 11.2826 212.142 9.96377 208.753 9.96377C205.365 9.96377 201.977 11.2826 199.435 13.8434L199.434 13.8443L171.732 41.9043C171.732 41.9049 171.731 41.9055 171.73 41.9061C166.571 47.0289 166.575 55.4785 171.728 60.6722C176.815 65.8737 185.209 65.8694 190.366 60.6736L218.146 32.6847Z"/>
   <path d="M312.2 65.0949L312.198 65.0936C296.923 51.8387 295.169 28.6417 308.324 13.2517C314.683 5.81462 323.522 1.32466 333.241 0.58793C342.963 -0.0744381 352.388 3.01832 359.768 9.42328C367.149 15.8287 371.607 24.7366 372.413 34.5338C373.07 44.332 369.999 53.8294 363.642 61.2653C357.283 68.7028 348.443 73.1929 338.723 73.9292L338.722 73.9292C337.782 74.0022 336.912 74.0024 335.946 74.0024C327.25 74.0024 318.849 70.9106 312.2 65.0949ZM359.191 32.6847L359.191 32.6847L359.197 32.6792C361.653 30.1268 363.04 26.7945 363.04 23.3013C363.04 19.7364 361.655 16.4003 359.191 13.918C356.65 11.3573 353.261 10.0384 349.873 10.0384C346.485 10.0384 343.096 11.3573 340.554 13.918L312.778 41.9043C312.777 41.9047 312.777 41.9051 312.776 41.9055C307.616 47.0283 307.62 55.4783 312.774 60.6722C317.861 65.8737 326.255 65.8694 331.412 60.6736L359.191 32.6847Z"/>
   <path d="M137.929 7.87726L137.929 7.87774C152.68 18.9873 156.199 38.7091 147.129 54.8503C145.959 56.9128 144.569 58.9034 143.032 60.7476L143.023 60.7582L143.014 60.7692C142.928 60.8853 142.824 60.9914 142.69 61.1261L142.681 61.1352C142.557 61.2601 142.406 61.4122 142.274 61.5902L142.017 61.9355L142.32 62.241L150.617 70.6004L150.622 70.6061L150.628 70.6116C151.598 71.5277 151.615 73.1444 150.617 74.1502L150.611 74.1559L150.606 74.1618C149.698 75.1369 148.1 75.154 147.104 74.1502L138.659 65.6416L138.343 65.323L137.992 65.6031C124.238 76.5864 105.617 77.0139 92.1841 65.3918L92.1838 65.3915C89.6295 63.1856 87.3625 60.5344 85.4587 57.6571L84.5417 56.2713V57.933V72.1887C84.5417 73.6248 83.3625 74.7488 82.0045 74.7488C80.5882 74.7488 79.4673 73.5661 79.4673 72.1887V70.6213V39.2737V37.6387C79.7618 27.1514 83.0561 18.7664 89.4061 12.0007C102.196 -1.54805 123.022 -3.38712 137.929 7.87726ZM92.6873 41.9816L92.6873 41.9816L92.6819 41.9871C90.2243 44.5406 88.8383 47.8733 88.8383 51.4396C88.8383 54.9992 90.1459 58.3369 92.6873 60.8975C97.8461 66.0953 106.239 66.0953 111.398 60.8975L139.326 32.7593C144.482 27.5637 144.482 19.1137 139.326 13.9181L139.326 13.9181L139.32 13.9128C136.708 11.358 133.323 10.0385 129.933 10.0385C126.551 10.0385 123.16 11.279 120.541 13.9181L92.6873 41.9816Z"/>
   <path d="M9.34256 13.3274L9.34354 13.3263C15.7022 5.88871 24.5427 1.39864 34.262 0.662354C43.9822 -0.0739946 53.4065 3.0178 60.7871 9.42321C75.9888 22.6786 77.741 45.8744 64.5144 61.1886L64.5127 61.1906C51.3583 76.5795 28.2693 78.3444 13.0724 65.0964C10.5142 62.8131 8.2463 60.1599 6.34326 57.2838L5.42628 55.8979V57.5597V72.1886C5.42628 73.558 4.31319 74.674 2.96314 74.674C1.61309 74.674 0.5 73.558 0.5 72.1886V65.9937V37.4077V37.2584C0.5 28.4951 3.64321 19.9532 9.34256 13.3274ZM32.4309 60.6735L60.2103 32.6846C65.3651 27.4909 65.3694 19.0399 60.2091 13.9167C57.6676 11.3568 54.2796 10.0383 50.8919 10.0383C47.5038 10.0383 44.1152 11.3572 41.5736 13.918L13.7968 41.9042C13.7963 41.9046 13.7959 41.9051 13.7955 41.9055C8.63545 47.0282 8.63926 55.4783 13.7928 60.6722C18.8797 65.8736 27.274 65.8693 32.4309 60.6735Z"/>
   <path d="M262.146 26.9588V26.4588H261.646H243.867C236.961 26.4588 231.329 20.7899 231.329 13.8226C231.329 6.85545 236.961 1.18652 243.867 1.18652H286.388C293.294 1.18652 298.926 6.85545 298.926 13.8226C298.926 20.7899 293.294 26.4588 286.388 26.4588H268.165H267.665V26.9588V71.9649C267.665 73.4836 266.403 74.749 264.905 74.749C263.407 74.749 262.146 73.4836 262.146 71.9649V26.9588Z"/>
   </svg>
   </a>

{% endif %}

</div>


<div class="MainMenu--right">
  <div class="targetColor MainMenu--rightItem icon search">
    <a class="targetColor" href="/collections/all">SEARCH</a>
  </div>
  
  <div class="targetColor MainMenu--rightItem icon login">
     {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="targetColor"">
<!--                      <img class="" src="https://cdn.shopify.com/s/files/1/0702/6042/5020/files/user.svg?v=1679927850"> -->
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
  </div>
  
  <div data-opencart class="targetColor MainMenu--rightItem">
    <div id="ajaxCardContainer" data-ajax-popup class="addedProduct">
    </div>

    <span class="targetColor">Cart</span>
    <div id="cartButtonDrawer">
        <div class="CartProducts">
          {% render 'cart-items' %}
        </div>
<div class="Cart--Buttons">
        <div class="Subtotal--price">
          <span>Subtotal</span>
          
          <div class="line"></div> 
        <span class="Subtotal--Money" data-ajax-price>{{ cart.total_price | money }}</span>
        </div>
        <div>
          <a class="Button--action" data-checkout href="/checkout">Checkout</a>
          <div class="Button--action" data-closecart onclick=Theme.cart.close()>Close</div>
        </div>
   </div>



  </div>
</div>
</div>


<div class="MainMenu--mobile hide--desktop">
<div id="mobileSearch" class="Mobile--Search">
<form class="search" action="/search">
  <input type="hidden" name="type" value="product">
    <input type="text" placeholder="Search" name="q" value="{{ search.terms | escape }}"  />
</form>
<div class="Button" onClick=Theme.search.submit()>Search</div>

</div>
<div class="Icon--Menu" onclick="Theme.mobile_menu.open()"><img src="{{'mobilemenu.svg' | asset_url }}"></div>
<div class="Menu--middle">
<a href="/collections/all" class="Button BackToCollection">
Back to Products
</a>
<div class="Button BackToCollection FilterButton" onclick="Theme.filter.open()">
Filter
</div>
</div>
<div onClick=Theme.search.open() class="Icon--Menu"><img src="{{'search.svg' | asset_url }}"></div>
<div class="Icon--Menu" onClick=Theme.mobile_cart.open();><img src="{{'cart_mobile.svg' | asset_url }}"></div>
</div>

<div class="MobileMenu--Items hide--desktop">
<div class="MobileMenu--Content">
Mobile<br>
menu<br>
here<br>
</div>
<div class="closeButton" onclick="Theme.mobile_menu.close()">CLOSE</div>
</div>

<div id="FilterMobile" class="MobileMenu--Filters hide--desktop">
  <div class="MobileMenu--Content">
  Mobile<br>
  Filters<br>
  here<br>
  </div>
  <div class="closeButton" onclick="Theme.filter.close()">CLOSE</div>
  </div>

  <div id="cartMobile" class="MobileMenu--Filters hide--desktop">
    <div class="" data-ajax-cart id="cartMobileItems">
      {% for item in cart.items %}
        {% render 'cart-item', item: item %}
    {% endfor %}
    </div>
    <a style="display:block;" class="closeButton checkOutButton" href="/checkout">CHECKOUT</a>
    </div>
  
{% schema %}
   {
      "name": "Header",
      "tag": "section",
      "class": "header"
   }
{% endschema %}