<div class="MainMenu Fixed">
<div class="MainMenu--Wrapper">
<div class="MainMenu--left">
  <div class="MainMenu--leftItem">
    <a href="/collections/all">Shop</a>
  </div>
  <div class="MainMenu--leftItem">
    <a href="/collections/all">About</a>
  </div>
</div>

<div class="MainMenu--center">
<img id="DesktopLogo" class="Logo" src="{{'logo.svg' | asset_url }}">
<a href="/"> <img id="DesktopLogoPlaceholder" style="opacity:0; visibility: hidden;" class="LogoPlaceholder" src="{{'logo.svg' | asset_url }}"> </a>

</div>


<div class="MainMenu--right">

  <div class="MainMenu--rightItem icon search">
    <a href="/collections/all">
      <img class="" src="{{'search.svg' | asset_url}}"></a>
  </div>
  
  <div class="MainMenu--rightItem icon login">
    <a href="/collections/all">
      <img class="" src="{{'user.svg' | asset_url}}"></a>
  </div>
  
  <div data-opencart href="/cart" class="MainMenu--rightItem">
    <div id="ajaxCardContainer" data-ajax-popup class="addedProduct">
    </div>

    <span>Cart</span>
    <div class=""  id="cartButtonDrawer">
        <div class="CartProducts">
          {% render 'cart-items' %}
        </div>
<div class="Cart--Buttons">
        <div class="Subtotal--price">
          <span>Subtotal</span>
          
          <div class="line"></div> 
        <span class="Subtotal--Money">{{ cart.total_price | money }}</span>
        </div>
        <div>
          <a class="Button--action" data-checkout href="/checkout">Checkout</a>
          <div class="Button--action" data-closecart onclick=Theme.cart.close()>Close</div>
        </div>
   </div>



  </div>
</div>


</div>


{% schema %}
   {
      "name": "Header",
      "tag": "section",
      "class": "header"
   }
{% endschema %}