{{ 'ending.css' | asset_url | stylesheet_tag }}

{% assign bgColor = section.settings.background %}
<div class="ending-content" style="background:{{ bgColor }};">
  <div class="ending-grid">
    <div class="ending-img">
      {{ section.settings.cover-img | image_url: width: 1920 | image_tag }}
    </div>
    <div class="ending-title-wrap">
      <h1 style="--fontSize: {{ section.settings.fontSize }}rem; color: {{ section.settings.text_color }};">{{ section.settings.title }}</h1>
    </div>
    {% if section.settings.enable_button == true %}
      {% if section.settings.btn_url == blank %}
        {% assign buttonURL = shop.secure_url %}
      {% else %}
        {% assign buttonURL = section.settings.btn_url %}
      {% endif %}
      <button class="module-link">
        <div class="pill-tiny"></div>
        <a href={{ section.settings.btn_url }}>{{ section.settings.btn_title }}</a>
      </button>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Ending Module",
    "tag": "section",
    "class": "ending-module",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_button",
        "label": "Show Button",
        "default": false
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#EFE5DC"
      },
      {
        "type": "image_picker",
        "id": "cover-img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Join The Community"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#EFE5DC"
      }, {
        "type": "range",
        "id": "fontSize",
        "min": 0,
        "max": 10,
        "step": 0.1,
        "label": "Font Size",
        "default": 4
      }, {
        "type": "text",
        "id": "btn_title",
        "label": "Button Text",
        "default": "About Proto"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Ending Module",
        "category": "Custom"
      }
    ],
    "templates": ["index"]
  }
{% endschema %}