{{ 'editorial.css' | asset_url | stylesheet_tag }}

{% assign bgColor = section.settings.background %}
<div class="editorial-content" style="background:{{ bgColor }};">
  <div class="editorial-grid">
    <h1>{{ section.settings.blog_info }}</h1>
    <div class="editorial-img" style="background-image: url({{ section.settings.cover-img | img_url: 'master' }});"></div>
    {% if section.settings.enable_button == true %}
      {% if section.settings.btn_url == blank %}
        {% assign buttonURL = shop.secure_url %}
      {% else %}
        {% assign buttonURL = section.settings.btn_url %}
      {% endif %}
      <button class="module-link">
        <div class="pill-tiny"></div>
        <a href={{ buttonURL }}>{{ section.settings.btn_title }}</a>
      </button>
    {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Editorial Module",
    "tag": "section",
    "class": "editorial-module",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_button",
        "label": "Show Button",
        "default": false
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "#000000"
      },
      {
        "type": "textarea",
        "id": "blog_info",
        "label": "Welcome message",
        "default": "Welcome to my shop!"
      },
      {
        "type": "image_picker",
        "id": "cover-img",
        "label": "Image"
      }, {
        "type": "text",
        "id": "btn_title",
        "label": "Button Text",
        "default": "Shop Now"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Editorial Module",
        "category": "Custom"
      }
    ],
    "templates": ["index"]
  }
{% endschema %}