{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}

  <div class="orders-wrapper">
  {% comment %} order info {% endcomment %}
  <div class="title-group">
    <h1 class="page-title">Order {{ order.name }}</h1>
    <div class="line"></div>
    <div class="order-info-wrapper forgotPW">
      <p>Placed on {{ order.created_at | date: format: 'date' }}</p>
      <div class="line"></div>
      <span>{{ order.financial_status_label }}</span>
      <div class="line"></div>
      <a href="{{ routes.account_url }}" class="fo">Back to account</a>
    </div>
  </div>

  <div>
    {% for line_item in order.line_items %}
      <div class="w-full border border-gray-200 divide-y rounded-sm mb-4">
        <div class="order-items-list">
          <div class="product-card stacked">
            {% if line_item.image %}
              <div style="background-image: url({{ line_item.image | img_url: 'medium' }});" class="card-img"></div>
            {% else %}
              <p>image not loaded</p>
            {% endif %}
          </div>
            <div class="order-info">
              
               <div class="item-detail">
                  <h1 class="page-title">{{ line_item.title | link_to: line_item.product.url }}</h1>
                  <p>
                     <span class="border border-gray-200 px-4 py-2">Price</span>
                     <span class="border border-gray-200 px-4 py-2">{{ line_item.original_price | money }}</span>
                   </p>
                   <p>
                     <span class="border border-gray-200 px-4 py-2">Quantity</span>
                     <span class="border border-gray-200 px-4 py-2">{{ line_item.quantity }}</span>
                   </p>
                   <p>
                     <span class="border border-gray-200 px-4 py-2">Final price</span>
                     <span class="border border-gray-200 px-4 py-2">{{ line_item.final_line_price | money }}</span>
                   </p>
               </div>
               
                <div class="p-4 md:p-12">
                  <h1 class="page-title">Fulfillment</h1>
        
                  {% if line_item.successfully_fulfilled_quantity > 0 %}
                    <p class="mb-2">We have fulfilled {{ line_item.successfully_fulfilled_quantity }} items of your recent order.</p>
                    <p class="mb-2">Tracking company: {{ line_item.fulfillment.tracking_company }}</p>
                    <p class="mb-2">Tracking number: {{ line_item.fulfillment.tracking_number }}</p>
        
                    <a
                      target="_blank"
                      href="{{ line_item.fulfillment.tracking_url }}"
                      class="flex w-max text-sm text-white font-medium bg-gray-700 hover:bg-gray-900 px-4 py-1 rounded">
                      Track order
                      <span class="ml-1">{% render 'icon-link' %}</span>
                    </a>
                  {% else %}
                    <p class="text-gray-500">This item is not yet fulfilled</p>
                  {% endif %}
                </div>
                <div>
                  <h1 class="page-title">Delivery address</h1>
      
                  <div class="text-gray-500 mb-4">
                    <div>
                      <p>Address 1: {{ order.shipping_address.address1 }}</p>
                      <p>Address 2: {{ order.shipping_address.address2 }}</p>
                      <p>Street: {{ order.shipping_address.street }}</p>
                      <p>Province: {{ order.shipping_address.province }}</p>
                      <p>City: {{ order.shipping_address.city }}</p>
                      <p>ZIP: {{ order.shipping_address.zip }}</p>
                      <p>Country: {{ order.shipping_address.country }}</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

      
      </div>
    {% endfor %}
  </div>

  <div class="user-wrapper">
    <div>
      <h1 class="page-title">Billing address</h1>

      {{ order.billing_address | format_address }}
    </div>
    <div>
      <h1 class="page-title">Payment information</h1>

      {% for transaction in order.transactions %}
        <div class="mb-4">
          {% assign credit_card_company = transaction.payment_details.credit_card_company %}
          {% assign credit_card_last_four_digits = transaction.payment_details.credit_card_number %}

          {% if credit_card_company %}
            <p>{{ credit_card_company }}</p>
            <p>{{ credit_card_last_four_digits }}</p>

            {% case transaction.status_label %}
              {% when 'Failure' %}
              {% assign background = 'red' %}
            {% else %}
              {% assign background = 'green' %}
            {% endcase %}

            <span class="no-orders">{{ transaction.status_label }}</span>
          {% else %}
            <p class="no-orders">This order is manually placed {{ shop.name }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div>
      <div class="title-group order-info-wrapper forgotPW">
      
          <p>
            <span class="border border-gray-200 px-4 py-2">Subtotal</span>
            <span class="border border-gray-200 px-4 py-2">{{ order.subtotal_price | money }}</span>
          </p>
          <div class="line"></div>
          <p>
            <span class="border border-gray-200 px-4 py-2">Shipping</span>
            <span class="border border-gray-200 px-4 py-2">{{ order.shipping_price | money }}</span>
          </p>
          <div class="line"></div>
          <p>
            <span class="border border-gray-200 px-4 py-2">Total</span>
            <span class="border border-gray-200 px-4 py-2">{{ order.total_price | money }}</span>
          </p>
    
      </div>
    </div>
  </div>
</div>