<div data-section-type="collection" data-section-id="{{ section.id }}">
  {{ 'shop.css' | asset_url | stylesheet_tag }}
  <div class="filters-wrapper">
    {% render 'filters' %}
  </div>
  {% paginate collection.products by 15 %}
    <div data-next-page class="product-grid">
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}
    </div>

    <nav>
      {%- if paginate.previous -%}
        <a
          class="loadmorebtn"
          href="{{ paginate.previous.url }}"
        >
          PREVIOUS PAGE
        </a>
      {%- endif -%}
      {%- if paginate.next -%}
        <a
          class="loadmorebtn"
          href="{{ paginate.next.url }}"
        >
          NEXT PAGE
        </a>
      {%- endif -%}
    </nav>
  {% endpaginate %}
</div>
<script src="{{ 'shop.js' | asset_url }}" async></script>

<style>

  @media screen and (min-width: 1000px) {
   
    .product-grid{
      display: grid;
      grid-template-columns: repeat({{ section.settings.columns }},1fr)!important;
    }

    .card-content{
      aspect-ratio: 1 / 1;
    }
  
    .product-card{
      height: auto;
    }

  }
</style>

{% schema %}
  {
    "name": "Collection Main",
    "settings": [
      {
        "type": "range",
        "id": "columns",
        "label": "Column Count Desktop",
        "default": 3,
        "min": 1,
        "max": 6,
        "step": 1
      }
    ]
  }
{% endschema %}